page-fabumessage {
    ion-title{
        margin-left:22%;
    }
    .bg{
        background-color: #f9f9f9;
    }
    .extra{
        height:50px;
        line-height:50px;
        font-size:1.7rem;
        color:#999999;
    }
    .gray1{
        padding-left:50px;
    }
    .black1{
        height:50px;
        line-height:50px;
        padding-left:50px;
        font-size:1.7rem;
        color:black;
    }
    .gray2{
        padding-left:35px;
    }
    .black2{
        height:50px;
        line-height:50px;
        padding-left:35px;
        font-size:1.7rem;
        color:black;
    }
    .graytitle{
        height:50px;
        line-height:50px;
        padding-left:16px;
        font-size:1.7rem;
        color:black;
    }
    .area{
        height:140px;
        background-color: white;
        color:#ffffff;
        font-size:1.7rem;
        margin-left:0;
        padding-left:8px;
    }
    .text-input-md{
        font-size:1.7rem;
        color: black;
    }
    .one{
        border-top:1px solid #eeeeee;
        height:50px;
        background-color: white;
    }
    .two{
        height:12px;
    }
    .three{
        height:125px;
    }
    .yellow{
        background-color:#fedb47;
        margin-left:8%;
        width:300px;
        height:48px;
        color:black;
        font-weight:400;
        font-size:1.8rem;
        margin-top:38px;
    }
    .extrafont{
        line-height:50px;
        padding-left:130px;
        color:#ccc;
       
    }
}
