page-about {
    ion-title{
        text-align:center;
    }
    .toolbar-title-md {
        font-size: 1.8rem;
        font-weight:400;
        color:black;
    }
    .bg{
        background-color:#f9f9f9;
    }
    ul{
        list-style-type:none;
        margin-top:25px;
        margin-left:-20px;
    }
    
    .box{
        border:1px solid #f9f9f9;
        background-color:white;
        width:100px;
        height:90px;
        float: left;   
    }
    .box1{
        margin-left:10px;
        border:1px solid #f9f9f9;
        background-color:white;
        width:100px;
        height:90px;
        float: left;
    }
    ul img{
        width:30px;
        height:30px;
        margin-left:35%;
        margin-top:12px;
    }
    .font{
        text-align: center;
        margin-top:10px;
    }
}
