page-xieyi {
    ion-title{      
        margin-left:22%;
    }   
    .one{
        font-size:1.8rem;
        line-height:1.8rem;
        margin-bottom:1rem;
        font-weight:400;
    }
    .two{
        line-height:2.9rem;
        font-size:1.5rem;
        font-weight:300;
        text-indent:2.6rem;
    }
    .three{
        line-height:2.9rem;
        font-size:1.5rem;
        font-weight:300;
    }
}
