page-login {
    ion-content{
        background-color:#ccc;
    }
    ion-title{
        text-align:center;
    }
    ion-img {
        width:100px;
        height:100px;
        margin-top:70px;
        margin-left:136px;
        margin-bottom:20px;
        border:1px solid #ccc;
    }
    ion-list a{
        text-decoration:none;
        float:right;
    }
}
