page-fabu {
    ion-title{      
        margin-left:22%;
    } 
    .listTitle{
        height:33px;
        font-size:1.5rem;
        padding-left:10px;
        border-bottom:1px solid #dfdfdf;
        border-top:1px solid #dfdfdf;
        line-height:33px;
    }
    .graycolor{
        color:#afafaf;
        padding-left:1px;
        font-size:1.3rem;
    }
    .dark{
        color:#222;
        font-size:1.3rem;
    }
    .one{
        float:left;
    }
    .two{
        float:left;
        margin-left:15px;
    }
    .three{
        float:left;
        margin-left:15px;
    }
    .redcolor{
        color:#c01444;
        font-size:1.7rem;
        font-weight:400;
        padding-top:5px;
    }
}
